// custom.scss

// Override Bootstrap variable
$dropdown-min-width: 1px; // Set your desired min-width
$warning: #fd9c0d;
// $spacer: 1rem;
// $custom-spacers: (
//   .5: $spacer * 4, // Add a new .5 entry
// );
// $spacers: map-merge($spacers, $custom-spacers);


  
// Merge the custom spacers with the original spacers map
// Import Bootstrap's SCSS
@import "../node_modules/bootstrap/scss/bootstrap";

.btn-outline-twitch {
	--bs-btn-color: #822EFF;
	--bs-btn-border-color: #822EFF;
	--bs-btn-hover-color: #fff;
	--bs-btn-hover-bg: #822EFF;
	--bs-btn-hover-border-color: #822EFF;
	--bs-btn-focus-shadow-rgb: 13, 110, 253;
	--bs-btn-active-color: #fff;
	--bs-btn-active-bg: #822EFF;
	--bs-btn-active-border-color: #822EFF;
	--bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
	--bs-btn-disabled-color: #822EFF;
	--bs-btn-disabled-bg: transparent;
	--bs-btn-disabled-border-color: #822EFF;
	--bs-gradient: none;
}

.btn-outline-primary-alt {
	--bs-btn-color: #{$success};
	--bs-btn-border-color: #{$success};
	--bs-btn-hover-color: #fff;
	--bs-btn-hover-bg: #{$success};
	--bs-btn-hover-border-color: #{$success};
	--bs-btn-focus-shadow-rgb: 13, 110, 253;
	--bs-btn-active-color: #fff;
	--bs-btn-active-bg: #{$success};
	--bs-btn-active-border-color: #{$success};
	--bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
	--bs-btn-disabled-color: #{$success};
	--bs-btn-disabled-bg: transparent;
	--bs-btn-disabled-border-color: #{$success};
	--bs-gradient: none;
}

.border-primary-alt {
	--bs-border-opacity: 1;
	border-color: rgba($success, var(--bs-border-opacity)) !important;
  }